[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
setuptools = "==57.5.0"
django-celery-beat = "==2.1.0"
utils = "*"
celery = "*"
redis = "*"
ipython = "*"
django-celery-results = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.6"
